<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <link rel="stylesheet" href="gallery.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#347ab6;">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a class="navbar-brand" href="#" th:href="@{/admin}" style="color:white;">

                <span th:text="${#authentication.getPrincipal().getUser_name()}"></span>
            </a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li style="font-size:20px" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="glyphicon glyphicon-log-in"style="color:white;"> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<table style = "margin-top:15%;margin-left:35%;font-size:22px;" border="1">
    <tr >
        <td>Name: </td>
        <td>Login: </td>
        <td>Password: </td>
        <td>Role: </td>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}  ">Name: </td>
        <td th:text="${user.login}  ">Login: </td>
        <td th:text="${user.password}  ">Password: </td>
        <td th:text="${user.role}  ">role: </td>
    </tr>
</table>
</body>
</html>